@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:320px){
    html{
        background-color: rgb(28,28,28);
        color: rgb(255, 255, 255);
        
    }
}

header{
    position: fixed;
    margin-top: 20px;
}

footer{
    
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 100%;
    display: flex;
    position: absolute; 
}

footer a img{

    height: 2em
}

